name: CI - build & push docker images

on:
  push:
    branches: [main]

env:
  REGISTRY: ghrc.io
  IMAGE_BACKEND: ghcr.io/${{ github.repository }}/backend
  IMAGE_NGINX: ghcr.io/${{ github.repository }}/nginx

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghrc.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: |
            ${{ env.IMAGE_BACKEND }}:latest
            ${{ env.IMAGE_BACKEND }}:${{ github.sha }}
      - name: Build and push nginx image
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: |
            ${{ env.IMAGE_NGINX }}:latest
            ${{ env.IMAGE_NGINX }}:${{ github.sha }}
